@use "../../../styles/functions" as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

input {
  width: fluid-clamp(18, 18);
}
