.test-upload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.test-upload-btns {
  display: flex;
  gap: 1rem;
}

.test-upload-image-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
