@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  width: 100%;
  padding: 1rem 0;
}

.nav-text {
  font-size: 1.5rem;
  font-weight: 700;
}

@include themify($themes) {
  .navbar {
    background-color: themed("nav-bg");
    border-bottom: 1px solid rgba(128, 128, 128, 0.345);
  }
}
