@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  width: 100%;
  padding: 1rem 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-btn {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
}

@include themify($themes) {
  .navbar {
    background-color: themed("nav-bg");
    border-bottom: 1px solid rgba(128, 128, 128, 0.345);
  }
  .nav-btn {
    transition: color ease-in-out 0.1s;
  }
  .nav-btn:hover {
    color: themed("main");
  }
}
