@use "../../styles/mixins" as *;
@use "../../styles/functions" as *;
@use "../../styles/variables" as *;

.hero {
  width: 100%;
  padding: 2rem 0;
}

.hero-heading {
  width: fit-content;
  color: transparent;
  background: linear-gradient(90deg, rgb(55, 36, 36), rgb(112, 39, 39));
  background-clip: text;
}

.hero-paragraph {
  font-size: 1.25rem;
}

.hero-point {
  width: 0.5rem;
  height: 0.5rem;
  // margin-top: 0.25rem;
}

@include themify($themes) {
  .hero {
    background-color: transparent;
    color: themed("text-2");
  }
  .hero-point {
    background-color: themed("main");
  }
  .hero-point-label {
    font-size: 0.85rem;
  }
}
