$global-gap: 1.5rem;

.items-dashboard {
  display: flex;
  gap: $global-gap;
  width: 100%;
  height: 50rem;
}

.filters {
  display: flex;
  gap: $global-gap;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter-icon {
  padding: 1rem;
  background-color: red;
}

.solid-block {
  background-color: gray;
  width: 100%;
  height: 100%;
}
