$element-padding: 0.5rem 1rem;

$reference-width: 90rem;

//SPACING//

$min-space-scaling: 1.14;
$min-space-1: 0.25;

$max-space-scaling: 1.49;
$max-space-1: 0.25;

//TEXT//

$text-min-font-size-scaling: 1.14;
$main-text-min-font-size: 1rem;

$text-max-font-size-scaling: 1.2;
$main-text-max-font-size: 1rem;

//HEADINGS//

$heading-multiplier: 0.75;
$h1-min-font-size: 3.89 * $heading-multiplier;
$heading-min-font-size-scaling: 1.26;

$h1-max-font-size: 5.19 * $heading-multiplier;
$heading-max-font-size-scaling: 1.39;
