// * {
// margin: 0;
// padding: 0;
// font-family: inherit;
// font-size: inherit;
// box-sizing: border-box;
// }

// input,
// textarea {
//   all: unset;
//   border: none;
//   background-color: inherit;
//   color: inherit;
// }

// button {
//   all: unset;
//   width: fit-content;
//   cursor: pointer;
// }
