@use "variables" as *;
@use "mixins" as *;
@use "functions" as *;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: $main-text-font-size;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include themify($themes) {
  body {
    background-color: themed("bg");
    color: themed("text");
  }
  .btn {
    background-color: themed("btn-bg");
    outline: 1px solid themed("btn-bc");
  }
  input,
  textarea {
    background-color: themed("input-bg");
  }
  .btn:hover {
    background-color: themed("btn_h-bg");
    // outline: 1px solid themed("btn_h-bc");
  }
}

section {
  width: 100%;
  margin: $section-margin;
  padding: $section-padding;
}

.container {
  max-width: 90rem;
  padding: $container-padding;
  margin: 0 auto;
  // border: 1px solid white;
}

// TEXT //

a {
  text-decoration: inherit;
  cursor: pointer;
}

p {
  font-size: $main-text-font-size;
}

// HEADINGS //

h1 {
  @include heading($h1-font-size);
}

h2 {
  @include heading($h2-font-size);
}

h3 {
  @include heading($h3-font-size);
}

h4 {
  @include heading($h4-font-size);
}

h5 {
  @include heading($h5-font-size);
}

h6 {
  @include heading($h6-font-size);
}

.btn {
  @include button_style;
}
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

input,
textarea {
  padding: $button-padding;
  border-radius: $element-border-radius;
}

.login-btn {
  background-color: black;
  color: white;
  height: fit-content;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.login-icon {
  width: 1rem;
  height: 1rem;
}
